# Dump folder for misc files
/scrap
.vscode

# Frontend 
frontend/node_modules

# Backend
backend/data/elliptic_txs_classes.csv
backend/data/elliptic_txs_edgelist.csv
backend/data/elliptic_txs_features.csv
backend/data/unlabelled_predictions.csv